<% if (title) { %>
    <h1 class="top-title"><%= title %></h1>
    <% } else {
      res.redirect('/')
} %>

<%- messages() %>

<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>

<div class="form-wrapper">
    <form action="/account/registration" method="post">
        <label for="account_firstname">First Name:</label><br>
        <input type="text" name="account_firstname" id="account_firstname" value="<%= locals.account_firstname %>" required><br><br>
        <label for="account_lastname">Last Name:</label><br>
        <input type="text" name="account_lastname" id="account_lastname" value="<%= locals.account_lastname %>" required><br><br>
        <label for="account_email">Email Address</label><br>
        <input type="email" name="account_email" id="account_email" value="<%= locals.account_email %>" required><br><br>
        <label for="account_password">Password</label><br>
        <input type="password" name="account_password" id="account_password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$" required><br>
        <label class="subtext-form">* Must contain atleast 12 characters, 1 capital and lowercase letter,<br> 1 number, and 1 special character</label><br><br>
        <button>Register Now</button><br>
    </form>
</div>